@import "bootstrap.less";
@import "theme.less";

body {
  margin-top: @navbar-height + @line-height-computed;
}

div.action-form {
  float: left;
  margin-right: @panel-body-padding;
}

pre.output {
  margin-bottom: 0;
  word-wrap: normal;
}
